* {
    box-sizing: border-box;
}

body {
    background-color: #3b3b98;
    color: #fff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: #23235b;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}