* {
    box-sizing: border-box;
}

body {
    background-color: #3b3b98;
    color: #fff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}